In [168]:
import plotly.graph_objects as go
import pandas as pd
import numpy as np

In [192]:
df = pd.read_csv("C:/Users/tsoom/OneDrive/Documentos/IMS - Data Science/2ยบ Semester/Data Visualization/Github/CSVs/types_of_conflits.csv")
df.head(3)

,Entity,Code,Year,Number of civil conflicts with foreign state intervention,Number of civil conflicts,Number of conflicts between states,Number of colonial or imperial conflicts
0,Africa,NaN,1946,0,0,0,0
1,Africa,NaN,1947,0,0,0,1
2,Africa,NaN,1948,0,0,0,0

In [193]:
df.drop(columns = ['Code'], inplace = True)

df.rename(columns = {'Entity':'world_region', 
                     'Year':'year',
                     'Number of civil conflicts with foreign state intervention':'civil-foreign conflits',
                     'Number of civil conflicts':'civil conflicts',
                     'Number of conflicts between states':'between states conflicts',
                     'Number of colonial or imperial conflicts':'colonial/imperial conflicts'}, inplace = True)

df['world_region'] = df['world_region'].astype('string')

df['total number of conflicts'] = df['civil-foreign conflits'] + df['civil conflicts'] + df['between states conflicts'] + df['colonial/imperial conflicts']

df.head(3)

,world_region,year,civil-foreign conflits,civil conflicts,between states conflicts,colonial/imperial conflicts,total number of conflicts
0,Africa,1946,0,0,0,0,0
1,Africa,1947,0,0,0,1,1
2,Africa,1948,0,0,0,0,0

In [174]:
##############################################################################################

In [194]:
world_regions_labels = [i for i in df2['world_region'].unique()]
world_regions_labels

['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East']

In [196]:
df2 = df.loc[df['world_region']!='World']
df2 = df2.loc[df['year']>2000] # !!!!!!!!
df2.tail(3)

,world_region,year,civil-foreign conflits,civil conflicts,between states conflicts,colonial/imperial conflicts,total number of conflicts
372,Middle East,2018,4,7,1,0,12
373,Middle East,2019,4,5,1,0,10
374,Middle East,2020,4,4,1,0,9

In [ ]:
##### CREATE FOUR DATASETS, EACH ONE FOR A TYPE OF CONFLICT #####

In [204]:
civil_foreign_1 = pd.pivot_table(df2[['world_region','year','civil-foreign conflits']], values='civil-foreign conflits', index=['world_region'], columns=['year'])
# civil_foreign_1

In [205]:
civil_2 = pd.pivot_table(df2[['world_region','year','civil conflicts']], values='civil conflicts', index=['world_region'], columns=['year'])
# civil_2

In [206]:
between_states_3 = pd.pivot_table(df2[['world_region','year','between states conflicts']], values='between states conflicts', index=['world_region'], columns=['year'])
# between_states_3

In [207]:
colonial_imperial_4 = pd.pivot_table(df2[['world_region','year','colonial/imperial conflicts']], values='colonial/imperial conflicts', index=['world_region'], columns=['year'])
# colonial_imperial_4

In [160]:
# df2.loc[df2['year']==1946]['civil-foreign state conflits']
# df2['year'].unique()
# civil_foreign[2001]

In [161]:
len(fig_bar.data)

75

In [252]:
# An empty graph object
fig_bar = go.Figure()

# Each year defines a new hidden (implies visible=False) trace in our visualization
for year in civil_foreign_1.columns:
    # civil_foreign_1
    fig_bar.add_trace(dict(type='bar',
                     x=civil_foreign_1.index,
                     y=civil_foreign_1[year],
                     name=str(year),
                     showlegend=False,
                     visible=False
                    )
               )
    # civil_2
    fig_bar.add_trace(dict(type='bar',
                 x=civil_2.index,
                 y=civil_2[year],
                 name=str(year),
                 showlegend=False,
                 visible=False
                )
           )

#     # between_states_3
#     fig_bar.add_trace(dict(type='bar',
#                  x=between_states_3.index,
#                  y=between_states_3[year],
#                  name=str(year),
#                  showlegend=False,
#                  visible=False
#                 )
#            )
    
#     # colonial_imperial_4
#     fig_bar.add_trace(dict(type='bar',
#                  x=colonial_imperial_4.index,
#                  y=colonial_imperial_4[year],
#                  name=str(year),
#                  showlegend=False,
#                  visible=False
#                 )
#            )
    
    
#     print(civil_foreign.index)
#     print(civil_foreign[year])

# First seen trace
fig_bar.data[0].visible = True

In [253]:
print(fig_bar.data)

(Bar({
    'name': '2001',
    'showlegend': False,
    'visible': True,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([3, 1, 1, 0, 0], dtype=int64)
}), Bar({
    'name': '2001',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([13,  1, 13,  2,  3], dtype=int64)
}), Bar({
    'name': '2002',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([2, 1, 0, 0, 0], dtype=int64)
}), Bar({
    'name': '2002',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([13,  1, 12,  1,  2], dtype=int64)
}), Bar({
    'name': '2003',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([1, 1, 1, 0, 0], dtype=int64)
}), Bar({
    'name': '2003',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([11,  1, 13,  1,  2], dtype=int64)
}), Bar({
    'name': '2004',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([1, 1, 1, 0, 1], dtype=int64)
}), Bar({
    'name': '2004',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([ 9,  2, 14,  2,  2], dtype=int64)
}), Bar({
    'name': '2005',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([1, 1, 1, 1, 1], dtype=int64)
}), Bar({
    'name': '2005',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([ 7,  1, 15,  1,  4], dtype=int64)
}), Bar({
    'name': '2006',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([2, 1, 1, 0, 1], dtype=int64)
}), Bar({
    'name': '2006',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([ 8,  1, 14,  1,  4], dtype=int64)
}), Bar({
    'name': '2007',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([1, 1, 1, 0, 1], dtype=int64)
}), Bar({
    'name': '2007',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([11,  2, 13,  2,  3], dtype=int64)
}), Bar({
    'name': '2008',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([2, 1, 1, 2, 1], dtype=int64)
}), Bar({
    'name': '2008',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([10,  2, 14,  1,  3], dtype=int64)
}), Bar({
    'name': '2009',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([3, 1, 1, 0, 2], dtype=int64)
}), Bar({
    'name': '2009',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([10,  2, 14,  1,  3], dtype=int64)
}), Bar({
    'name': '2010',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([4, 1, 1, 0, 2], dtype=int64)
}), Bar({
    'name': '2010',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([ 6,  2, 11,  1,  3], dtype=int64)
}), Bar({
    'name': '2011',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([5, 1, 1, 0, 2], dtype=int64)
}), Bar({
    'name': '2011',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([10,  1, 11,  1,  4], dtype=int64)
}), Bar({
    'name': '2012',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([5, 1, 1, 1, 1], dtype=int64)
}), Bar({
    'name': '2012',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([7, 1, 9, 1, 5], dtype=int64)
}), Bar({
    'name': '2013',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([7, 1, 1, 0, 1], dtype=int64)
}), Bar({
    'name': '2013',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([ 7,  1, 13,  1,  5], dtype=int64)
}), Bar({
    'name': '2014',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([7, 1, 1, 4, 2], dtype=int64)
}), Bar({
    'name': '2014',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([ 7,  1, 12,  2,  6], dtype=int64)
}), Bar({
    'name': '2015',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([10,  1,  3,  2,  4], dtype=int64)
}), Bar({
    'name': '2015',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([11,  1, 11,  2,  6], dtype=int64)
}), Bar({
    'name': '2016',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([8, 1, 3, 2, 4], dtype=int64)
}), Bar({
    'name': '2016',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([13,  1, 12,  1,  7], dtype=int64)
}), Bar({
    'name': '2017',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([10,  1,  4,  2,  4], dtype=int64)
}), Bar({
    'name': '2017',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([ 9,  0, 12,  1,  7], dtype=int64)
}), Bar({
    'name': '2018',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([11,  0,  3,  1,  4], dtype=int64)
}), Bar({
    'name': '2018',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([10,  1, 12,  1,  7], dtype=int64)
}), Bar({
    'name': '2019',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([17,  1,  2,  1,  4], dtype=int64)
}), Bar({
    'name': '2019',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([ 9,  1, 12,  1,  5], dtype=int64)
}), Bar({
    'name': '2020',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([17,  0,  2,  2,  4], dtype=int64)
}), Bar({
    'name': '2020',
    'showlegend': False,
    'visible': False,
    'x': array(['Africa', 'Americas', 'Asia & Oceania', 'Europe', 'Middle East'],
               dtype=object),
    'y': array([13,  1,  9,  1,  4], dtype=int64)
}))

In [254]:
# Lets create our slider, one option for each trace
# for loop to create the steps list
steps = []
for i in range(len(fig_bar.data)):
    step = dict(
        label='Year ' + str(1980 + i),
        method="restyle", #there are four methods restyle changes the type of an argument (in this case if visible or not)
        args=["visible", [False] * len(fig_bar.data)], # Changes all to Not visible
    )
    step["args"][1][i] = True  # Toggle i'th trace to "visible"
    steps.append(step)


# create the slider
sliders = [dict(
    active=1990,
    pad={"t": 100},
    steps=steps
)]


fig_bar.update_layout(dict(title=dict(text='Total Number of Conflicts in'),
                  yaxis=dict(title='Number of Conflicts', range=[0,10]),
                  sliders=sliders))


fig_bar.show(renderer='iframe')

In [59]:
x_bar_1 = world_regions_labels
# print(x_bar_1)
y_bar_1 = df2['civil-foreign state conflits']
# print(y_bar_1)

x_bar_2 = world_regions_labels
y_bar_2 = df2['civil conflicts']

x_bar_3 = world_regions_labels
y_bar_3 = df2['between states conflicts']

x_bar_4 = world_regions_labels
y_bar_4 = df2['colonial/imperial conflicts']

In [255]:
data_5_1 = dict(type='bar', x=x_bar_1, y=y_bar_1, name='civil-foreign state conflits', marker=dict(color='black')) # Here you can change the color of a particular trace
data_5_2 = dict(type='bar', x=x_bar_2, y=y_bar_2, name='civil conflicts', marker=dict(color='red'))
data_5_3 = dict(type='bar', x=x_bar_3, y=y_bar_3, name='between states conflicts', marker=dict(color='blue'))
data_5_4 = dict(type='bar', x=x_bar_4, y=y_bar_4, name='colonial/imperial conflicts', marker=dict(color='orange'))


data_5 = [data_5_1, data_5_2, data_5_3, data_5_4]

layout_5 = dict(title=dict(text='Europe Emissions in the year 2000 and 2001'),
                  yaxis=dict(type='log',
                            title='Emissions Log Scaled'))

In [256]:
fig_5 = go.Figure(data=data_5, layout=layout_5)

fig_5.show(renderer='iframe')

In [39]:
# for year in df['year'].unique():
#     print(year)
df.loc[df['year']==1946]

,world_region,year,civil-foreign state conflits,civil conflicts,between states conflicts,colonial/imperial conflicts,total number of conflicts
0,Africa,1946,0,0,0,0,0
75,Americas,1946,0,1,0,0,1
150,Asia & Oceania,1946,0,2,1,4,7
225,Europe,1946,0,5,2,0,7
300,Middle East,1946,2,0,0,1,3
375,World,1946,2,8,2,5,17

In [41]:
# An empty graph object
fig_bar = go.Figure()

# Each year defines a new hidden (implies visible=False) trace in our visualization
for year in df2['year'].unique():
    fig_bar.add_trace(dict(type='bar',
                     x=world_regions_labels,
                     y=df2.loc[df2['year']==year],
                     name=str(year),
                     showlegend=False,
                     visible=False
                    )
               )

# First seen trace
fig_bar.data[0].visible = True


# Lets create our slider, one option for each trace
steps = []
for i in range(len(fig_bar.data)):
    step = dict(
        label='Year ' + str(1990 + i),
        method="restyle", #there are four methods restyle changes the type of an argument (in this case if visible or not)
        args=["visible", [False] * len(fig_bar.data)], # Changes all to Not visible
    )
    step["args"][1][i] = True  # Toggle i'th trace to "visible"
    steps.append(step)

    
sliders = [dict(
    active=1990,
    pad={"t": 100},
    steps=steps
)]


fig_bar.update_layout(dict(title=dict(text='Total Number of Conflicts in'),
                  yaxis=dict(title='Number of Conflicts',
                             range=[0,2*(10**4)]
                            ),
                  sliders=sliders))

fig_bar.show(renderer='iframe')