In [42]:
import pandas as pd

In [43]:
df = pd.read_csv("C:/Users/tsoom/OneDrive/Documentos/IMS - Data Science/2ยบ Semester/Data Visualization/Github/CSVs/types_of_conflits.csv")
df.head(3)

,Entity,Code,Year,Number of civil conflicts with foreign state intervention,Number of civil conflicts,Number of conflicts between states,Number of colonial or imperial conflicts
0,Africa,NaN,1946,0,0,0,0
1,Africa,NaN,1947,0,0,0,1
2,Africa,NaN,1948,0,0,0,0

In [44]:
df.drop(columns = ['Code'], inplace = True)

df.rename(columns = {'Entity':'world_region', 
                     'Year':'year',
                     'Number of civil conflicts with foreign state intervention':'civil-foreign state conflits',
                     'Number of civil conflicts':'civil conflicts',
                     'Number of conflicts between states':'between states conflicts',
                     'Number of colonial or imperial conflicts':'colonial/imperial conflicts'}, inplace = True)
df.head(3)

,world_region,year,civil-foreign state conflits,civil conflicts,between states conflicts,colonial/imperial conflicts
0,Africa,1946,0,0,0,0
1,Africa,1947,0,0,0,1
2,Africa,1948,0,0,0,0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   world_region                  450 non-null    object
 1   year                          450 non-null    int64
 2   civil-foreign state conflits  450 non-null    int64
 3   civil conflicts               450 non-null    int64
 4   between states conflicts      450 non-null    int64
 5   colonial/imperial conflicts   450 non-null    int64
dtypes: int64(5), object(1)
memory usage: 21.2+ KB

In [46]:
df['world_region'] = df['world_region'].astype('string')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   world_region                  450 non-null    string
 1   year                          450 non-null    int64
 2   civil-foreign state conflits  450 non-null    int64
 3   civil conflicts               450 non-null    int64
 4   between states conflicts      450 non-null    int64
 5   colonial/imperial conflicts   450 non-null    int64
dtypes: int64(5), string(1)
memory usage: 21.2 KB

In [47]:
df['total number of conflicts'] = df['civil-foreign state conflits'] + df['civil conflicts'] + df['between states conflicts'] + df['colonial/imperial conflicts']
df.head(3)

,world_region,year,civil-foreign state conflits,civil conflicts,between states conflicts,colonial/imperial conflicts,total number of conflicts
0,Africa,1946,0,0,0,0,0
1,Africa,1947,0,0,0,1,1
2,Africa,1948,0,0,0,0,0