### 1. Imports

In [14]:
import pandas as pd

import plotly.express as px
import plotly.graph_objects as go

In [6]:
# df = pd.read_csv("C:/Users/tsoom/OneDrive/Documentos/IMS - Data Science/2ยบ Semester/Data Visualization/Github/CSVs/types_of_conflits.csv")
df = pd.read_csv(r"C:\Users\Administrador\OneDrive - NOVAIMS\Mestrado\Data Visualization\DV_Dashboard\CSVs\types_of_conflits.csv")
df.head()

,Entity,Code,Year,Number of civil conflicts with foreign state intervention,Number of civil conflicts,Number of conflicts between states,Number of colonial or imperial conflicts
0,Africa,NaN,1946,0,0,0,0
1,Africa,NaN,1947,0,0,0,1
2,Africa,NaN,1948,0,0,0,0
3,Africa,NaN,1949,0,0,0,0
4,Africa,NaN,1950,0,0,0,0

### 2. Data Treatment

In [9]:
# df.drop(columns = ['Code'], inplace = True)

# df.rename(columns = {'Entity':'world_region', 
#                      'Year':'year',
#                      'Number of civil conflicts with foreign state intervention':'civil-foreign state conflits',
#                      'Number of civil conflicts':'civil conflicts',
#                      'Number of conflicts between states':'between states conflicts',
#                      'Number of colonial or imperial conflicts':'colonial/imperial conflicts'}, inplace = True)
df.head()

,world_region,year,civil-foreign state conflits,civil conflicts,between states conflicts,colonial/imperial conflicts
0,Africa,1946,0,0,0,0
1,Africa,1947,0,0,0,1
2,Africa,1948,0,0,0,0
3,Africa,1949,0,0,0,0
4,Africa,1950,0,0,0,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   world_region                  450 non-null    object
 1   year                          450 non-null    int64
 2   civil-foreign state conflits  450 non-null    int64
 3   civil conflicts               450 non-null    int64
 4   between states conflicts      450 non-null    int64
 5   colonial/imperial conflicts   450 non-null    int64
dtypes: int64(5), object(1)
memory usage: 21.2+ KB

In [11]:
df['world_region'] = df['world_region'].astype('string')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   world_region                  450 non-null    string
 1   year                          450 non-null    int64
 2   civil-foreign state conflits  450 non-null    int64
 3   civil conflicts               450 non-null    int64
 4   between states conflicts      450 non-null    int64
 5   colonial/imperial conflicts   450 non-null    int64
dtypes: int64(5), string(1)
memory usage: 21.2 KB

In [12]:
df['total number of conflicts'] = df['civil-foreign state conflits'] + df['civil conflicts'] + df['between states conflicts'] + df['colonial/imperial conflicts']
df.head(3)

,world_region,year,civil-foreign state conflits,civil conflicts,between states conflicts,colonial/imperial conflicts,total number of conflicts
0,Africa,1946,0,0,0,0,0
1,Africa,1947,0,0,0,1,1
2,Africa,1948,0,0,0,0,0

### 3. Visualizations

#### 3.1. Total number of conflicts over the years per region

In [30]:
df1 = df.drop(['civil-foreign state conflits', 'civil conflicts', 'between states conflicts', 'colonial/imperial conflicts'], axis = 1)
df1

    world_region  year  total number of conflicts
0         Africa  1946                          0
1         Africa  1947                          1
2         Africa  1948                          0
3         Africa  1949                          0
4         Africa  1950                          0
..           ...   ...                        ...
445        World  2016                         54
446        World  2017                         51
447        World  2018                         52
448        World  2019                         55
449        World  2020                         56

[450 rows x 3 columns]

In [33]:
df1.set_index('world_region', inplace = True)
df1

              year  total number of conflicts
world_region
Africa        1946                          0
Africa        1947                          1
Africa        1948                          0
Africa        1949                          0
Africa        1950                          0
...            ...                        ...
World         2016                         54
World         2017                         51
World         2018                         52
World         2019                         55
World         2020                         56

[450 rows x 2 columns]

In [36]:
df1 = pd.pivot_table(df1, values = 'total number of conflicts', index = 'world_region', columns = 'year')
df1

In [85]:
df1.drop('World', axis = 0, inplace = True)

In [86]:
df1.columns

Int64Index([1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956,
            1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967,
            1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978,
            1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
            1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
            2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
            2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
           dtype='int64', name='year')

In [77]:
colors = ['#B6E880', '#FF97FF', '#FECB52', '#636EFA', '#EF553B', '#00CC96', '#AB63FA', '#FFA15A', '#19D3F3', '#FF6692']

In [124]:
data_scatter = []

for i, world_region in enumerate(df1.index):
    data_scatter.append(dict(type='scatter',
                     x=df1.columns,
                     y=df1.loc[world_region],
                     name=world_region,
                     line=dict(color=colors[i]),
                     showlegend=True
                    )
               )

layout_scatter = dict(title=dict(text='Conflicts over the years',
                                 x = 0.5),
                  xaxis=dict(title='Years'),
                  yaxis=dict(title='Total Number of Conflicts'))

In [126]:
fig_scatter = go.Figure(data=data_scatter, layout=layout_scatter)

fig_scatter.update_layout(legend_title = 'Regions')
    
fig_scatter.show(renderer='iframe')

#### 3.2.